openapi: 3.0.0
info:
  title: BulkTrack API
  version: 1.0.0
  description: API definition for the BulkTrack application.
servers:
  - url: https://api.bulktrack.app/v1
    description: Production server
  - url: http://localhost:8787/v1
    description: Local development server
paths:
  # --- Authentication Endpoints --- #
  /auth/device:
    post:
      summary: Activate a new device
      operationId: activateDevice
      tags:
        - Auth
      description: >
        Registers a new device using its unique ID provided in the header
        and returns initial access and refresh tokens.
        This endpoint does not require authentication.
      parameters:
        - name: X-Device-Id
          in: header
          required: true
          description: Unique identifier for the client device (UUID format recommended).
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Device activated successfully, tokens issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad Request (e.g., missing X-Device-Id header).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  /auth/refresh:
    post:
      summary: Refresh access token
      operationId: refreshToken
      tags:
        - Auth
      description: >
        Exchanges a valid refresh token for a new pair of access and refresh tokens.
        This endpoint does not require bearer authentication but relies on the validity of the refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Tokens refreshed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad Request (e.g., missing refresh_token in body).
        '401':
          description: Unauthorized (e.g., invalid or expired refresh token).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  /auth/logout:
    post:
      summary: Log out
      operationId: logout
      tags:
        - Auth
      description: >
        Invalidates the provided refresh token, effectively logging the user out.
        This endpoint does not require bearer authentication but relies on the validity of the refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '204':
          description: Successfully logged out.
        '400':
          description: Bad Request (e.g., missing or malformed refresh_token in body).
        '401':
          description: Unauthorized (e.g., invalid, expired, or already revoked refresh token).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  # --- Menu Endpoints --- #
  /v1/menus:
    get:
      summary: List user menus
      operationId: listMenus
      tags:
        - Menus
      description: Retrieves a list of menus belonging to the authenticated user/device, ordered by sort_order.
      responses:
        '200':
          description: A list of menus.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MenuDTO'
        '401':
          description: Unauthorized (Invalid or missing Authorization header).
        '500':
          description: Internal Server Error.
      security:
        - BearerAuth: [] # Explicitly require bearer auth for this endpoint

    post:
      summary: Create a new menu
      operationId: createMenu
      tags:
        - Menus
      description: Creates a new menu item for the authenticated user/device.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMenuRequest'
      responses:
        '201':
          description: Menu created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuDTO'
        '400':
          description: Bad Request (e.g., validation error, missing required fields like name).
        '401':
          description: Unauthorized (Invalid or missing Authorization header).
        '500':
          description: Internal Server Error.
      security:
        - BearerAuth: [] # Explicitly require bearer auth for this endpoint

  /v1/menus/{menuId}/exercises:
    put:
      tags:
        - Menus
      summary: Update exercises for a specific menu
      description: Replaces all exercises associated with a menu. Send an empty array in the exercises field to remove all exercises.
      operationId: updateMenuExercises
      security:
        - BearerAuth: []
      parameters:
        - name: menuId
          in: path
          required: true
          description: ID of the menu to update exercises for
          schema:
            type: string
            format: uuid
      requestBody:
        description: List of exercises to associate with the menu.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMenuExercisesRequest'
      responses:
        '200':
          description: Exercises updated successfully and the updated menu is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuWithExercises'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      tags:
        - Menus
      summary: Add exercises to a specific menu
      description: >
        Adds one or more exercises with their positions to the specified menu.
        If an exercise with the same ID and position already exists, it might be ignored or result in an error
        based on server-side handling of unique constraints. This operation is intended for appending
        or inserting new exercises. For wholesale replacement, use PUT.
      operationId: addMenuExercises
      security:
        - BearerAuth: []
      parameters:
        - name: menuId
          in: path
          required: true
          description: ID of the menu to add exercises to.
          schema:
            type: string
            format: uuid
      requestBody:
        description: List of exercises (ID and position) to add to the menu.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMenuExercisesRequest' # Reusing the same schema as PUT
      responses:
        '201':
          description: Exercises added successfully and the updated menu is returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MenuWithExercises'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound' # Menu not found
        '409': # Consider if a conflict (e.g. exercise already exists at position) should be a specific error
          description: Conflict (e.g., exercise already linked or position conflict).
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict' # Assuming a generic Conflict response schema exists or will be added

  /v1/menus/{menuId}/exercises/{exerciseId}:
    delete:
      tags:
        - Menus
      summary: Remove a specific exercise from a menu
      description: Removes the association between a specific menu and a specific exercise.
      operationId: removeMenuExercise
      security:
        - BearerAuth: []
      parameters:
        - name: menuId
          in: path
          required: true
          description: ID of the menu.
          schema:
            type: string
            format: uuid
        - name: exerciseId
          in: path
          required: true
          description: ID of the exercise to remove from the menu.
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Exercise successfully removed from the menu.
        '400':
          $ref: '#/components/responses/BadRequest' # e.g. invalid UUID format
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound' # Menu or menu-exercise link not found

  # --- Workout Endpoints --- #
  /v1/workouts:
    post:
      summary: Register a new workout
      operationId: createWorkout
      tags:
        - Workouts
      description: >
        Registers a new workout session including its sets.
        Requires bearer authentication.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkoutRequest'
      responses:
        '201':
          description: Workout created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutResponse'
        '400':
          description: Bad Request (e.g., validation error, missing required fields).
        '401':
          description: Unauthorized (Invalid or missing Authorization header).
        '500':
          description: Internal Server Error.
      security:
        - bearerAuth: []

  /workouts/{id}:
    get:
      summary: Get workout details by ID
      operationId: getWorkoutById
      tags:
        - Workouts
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the workout to retrieve
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful retrieval of workout details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '404':
          description: Workout not found
        '401':
          description: Unauthorized

  # --- Utility Endpoints --- #
  /ping:
    get:
      summary: Check API health
      operationId: ping
      tags:
        - Utility
      responses:
        '200':
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: pong
      security: [] # No authentication required

  # --- Dashboard Endpoints --- #
  /v1/dashboard/summary:
    get:
      summary: Get dashboard summary
      operationId: getDashboardSummary
      tags:
        - Dashboard
      description: >
        Retrieves a summary for the dashboard within the specified date range,
        including weekly volume and average weekly volume.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date for the summary period (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          description: End date for the summary period (YYYY-MM-DD).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Dashboard summary retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DashboardSummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

  /v1/dashboard/exercises:
    get:
      summary: Get exercise volume summary
      operationId: getExerciseVolumeSummary
      tags:
        - Dashboard
      description: >
        Retrieves a summary of exercise volumes within the specified date range,
        including total volume, sets, reps, and max weight per exercise.
      parameters:
        - name: startDate
          in: query
          required: true
          description: Start date for the summary period (YYYY-MM-DD).
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          description: End date for the summary period (YYYY-MM-DD).
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Exercise volume summary retrieved successfully.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExerciseVolumeSummaryDTO'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
      security:
        - BearerAuth: []

components:
  schemas:
    # --- Auth Schemas --- #
    TokenResponse:
      type: object
      description: Response containing access and refresh tokens.
      properties:
        access_token:
          type: string
          description: The JWT access token.
        refresh_token:
          type: string
          description: The JWT refresh token.
        expires_in:
          type: integer
          format: int64
          description: The validity duration of the access token in seconds.
      required:
        - access_token
        - refresh_token
        - expires_in

    RefreshTokenRequest:
      type: object
      description: Request body for refreshing tokens.
      properties:
        refresh_token:
          type: string
          description: The JWT refresh token to be exchanged.
      required:
        - refresh_token

    # --- Utility Schemas --- #
    PingResponse:
      type: object
      description: Response for the ping endpoint.
      properties:
        message:
          type: string
          example: pong
        timestamp:
          type: string
          format: date-time
          description: Current server timestamp when the ping was processed.
      required:
        - message
        - timestamp

    # --- Menu Schemas --- #
    MenuDTO:
      type: object
      description: Represents a menu item.
      properties:
        id:
          type: string
          format: uuid
          description: Menu ID.
        name:
          type: string
          description: Name of the menu.
        description:
          type: string
          nullable: true
          description: Optional description for the menu.
        sort_order:
          type: integer
          description: Order in which the menu should appear.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the menu was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the menu was last updated.
      required:
        - id
        - name
        - sort_order
        - created_at
        - updated_at

    CreateMenuRequest:
      type: object
      properties:
        name:
          type: string
          description: Name of the menu item.
          minLength: 1
        description:
          type: string
          nullable: true
          description: Optional description for the menu item.
        sort_order:
          type: integer
          description: Order for sorting menus. Lower values appear first. Defaults to 0 if not provided by client, but API requires it.
      required:
        - name
        - sort_order

    UpdateMenuExerciseItem:
      type: object
      properties:
        exercise_id:
          type: string
          format: uuid
          description: ID of the exercise.
        position:
          type: integer
          format: int32
          description: Sort order of the exercise within this menu (0-indexed).
      required:
        - exercise_id
        - position

    UpdateMenuExercisesRequest:
      type: object
      properties:
        exercises:
          type: array
          items:
            $ref: '#/components/schemas/UpdateMenuExerciseItem'
          description: An array of exercises with their positions. To remove all exercises, send an empty array.
      required:
        - exercises

    MenuExerciseItemResponse:
      type: object
      properties:
        exercise_id:
          type: string
          format: uuid
        name:
          type: string
          description: Name of the exercise.
        position:
          type: integer
          format: int32
      required:
        - exercise_id
        - name
        - position

    MenuWithExercises:
      allOf:
        - $ref: '#/components/schemas/MenuDTO'
      properties:
        exercises:
          type: array
          items:
            $ref: '#/components/schemas/MenuExerciseItemResponse'
          description: List of exercises in this menu, ordered by position.

    # --- New Workout Schemas for POST /v1/workouts --- #
    CreateWorkoutRequest:
      type: object
      description: Request body for creating a new workout.
      properties:
        menu_id:
          type: string
          format: uuid
          description: ID of the menu this workout is based on.
        performed_at:
          type: string
          format: date-time
          description: Timestamp when the workout was performed (ISO 8601 format).
        sets:
          type: array
          description: List of sets performed in this workout.
          items:
            $ref: '#/components/schemas/WorkoutSetInput'
          minItems: 1
      required:
        - menu_id
        - performed_at
        - sets

    WorkoutSetInput:
      type: object
      description: Represents a single set within a workout for creation.
      properties:
        exercise_id:
          type: string
          format: uuid
          description: ID of the exercise performed in this set.
        weight:
          type: number
          format: float
          description: Weight used for the set (e.g., in kg or lbs).
          minimum: 0
        reps:
          type: integer
          description: Number of repetitions performed.
          minimum: 0
        rpe:
          type: number
          format: float
          nullable: true
          description: Rate of Perceived Exertion for this set (e.g., 0-10). rpe と rir は排他的です。どちらか一方のみを指定、または両方省略してください。
          minimum: 0
          maximum: 10
        rir:
          type: integer
          nullable: true
          description: Reps In Reserve for this set (e.g., 0-10). rpe と rir は排他的です。どちらか一方のみを指定、または両方省略してください。
          minimum: 0
          maximum: 10
      required:
        - exercise_id
        - weight
        - reps
      examples:
        setWithRPE:
          summary: Example of a set with RPE
          value:
            exercise_id: "d290f1ee-6c54-4b01-90e6-d701748f0851"
            weight: 100
            reps: 10
            rpe: 8.5
        setWithRIR:
          summary: Example of a set with RIR
          value:
            exercise_id: "d290f1ee-6c54-4b01-90e6-d701748f0851"
            weight: 100
            reps: 10
            rir: 2
        setWithoutRPEOrRIR:
          summary: Example of a set without RPE or RIR
          value:
            exercise_id: "d290f1ee-6c54-4b01-90e6-d701748f0851"
            weight: 100
            reps: 10

    WorkoutResponse:
      type: object
      description: Response after successfully creating a workout.
      properties:
        id:
          type: string
          format: uuid
          description: ID of the newly created workout.
        device_id:
          type: string
          format: uuid
          description: ID of the device that created this workout.
        menu_id:
          type: string
          format: uuid
          description: ID of the menu this workout is based on.
        performed_at:
          type: string
          format: date-time
          description: Timestamp when the workout was performed.
        created_at:
          type: string
          format: date-time
          description: Timestamp when the workout record was created.
        updated_at:
          type: string
          format: date-time
          description: Timestamp when the workout record was last updated.
        sets:
          type: array
          description: List of sets recorded for this workout.
          items:
            $ref: '#/components/schemas/WorkoutSetResponseItem'
      required:
        - id
        - device_id
        - menu_id
        - performed_at
        - created_at
        - updated_at
        - sets

    WorkoutSetResponseItem:
      type: object
      description: Represents a single recorded set within a workout response.
      properties:
        id:
          type: string
          format: uuid
          description: ID of the recorded workout set.
        exercise_id:
          type: string
          format: uuid
          description: ID of the exercise performed.
        weight:
          type: number
          format: float
          description: Weight used.
        reps:
          type: integer
          description: Repetitions performed.
        volume:
          type: number
          format: float
          description: Calculated volume (weight * reps).
        rpe:
          type: number
          format: float
          nullable: true
          description: Rate of Perceived Exertion for this set. rpe と rir は排他的です。
        rir:
          type: integer
          nullable: true
          description: Reps In Reserve for this set. rpe と rir は排他的です。
      required:
        - id
        - exercise_id
        - weight
        - reps
        - volume
      examples:
        setWithRPE:
          summary: Example response for a set with RPE
          value:
            id: "3f1e8c90-3c47-4f95-bb80-72f8d3d792f7"
            exercise_id: "d290f1ee-6c54-4b01-90e6-d701748f0851"
            weight: 100
            reps: 10
            volume: 1000
            rpe: 8.5
        setWithRIR:
          summary: Example response for a set with RIR
          value:
            id: "a0eebc99-9c0b-4ef8-bb6d-6bb9bd380a11"
            exercise_id: "d290f1ee-6c54-4b01-90e6-d701748f0851"
            weight: 100
            reps: 10
            volume: 1000
            rir: 2

    # --- Existing Workout Schemas --- #
    WorkoutDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Workout ID
        name:
          type: string
          description: Workout name
        description:
          type: string
          nullable: true
          description: Optional workout description
        exercises:
          type: array
          description: List of exercises in the workout
          items:
            $ref: '#/components/schemas/Exercise'
      required:
        - id
        - name
        - exercises
    Exercise:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Exercise ID
        name:
          type: string
          description: Exercise name
        sets:
          type: integer
          description: Number of sets performed
        reps:
          type: integer
          description: Number of repetitions per set
        rpe:
          type: number
          format: float
          nullable: true
          description: Rate of Perceived Exertion (e.g., 1-10)
        rir:
          type: integer
          nullable: true
          description: Reps In Reserve (e.g., 0-5)
        interval:
          type: integer
          nullable: true
          description: Rest interval in seconds between sets
      required:
        - id
        - name
        - sets
        - reps

    # --- Dashboard Schemas --- #
    WeeklyVolumeDTO:
      type: object
      properties:
        yearWeek:
          type: string
          description: The year and week number in 'YYYY-WW' format.
          example: "2024-19"
        totalVolume:
          type: number
          format: double
          description: Total training volume for that week.
          example: 12500.5
      required:
        - yearWeek
        - totalVolume

    DashboardSummaryDTO:
      type: object
      properties:
        weeklySummary:
          type: array
          items:
            $ref: '#/components/schemas/WeeklyVolumeDTO'
          description: Summary of total volume for each week in the requested period.
        averageWeeklyVolume:
          type: number
          format: double
          nullable: true
          description: Average weekly training volume over the requested period.
          example: 12875.25
      required:
        - weeklySummary
        # averageWeeklyVolume can be null if no data

    ExerciseVolumeSummaryDTO:
      type: object
      properties:
        exerciseId:
          type: string
          format: uuid
          description: Unique identifier of the exercise.
        exerciseName:
          type: string
          description: Name of the exercise.
          example: "Bench Press"
        totalVolume:
          type: number
          format: double
          description: Total volume for this exercise in the period.
          example: 5500.0
        totalSets:
          type: integer
          description: Total number of sets performed for this exercise.
          example: 20
        totalReps:
          type: integer
          description: Total number of repetitions performed for this exercise.
          example: 200
        maxWeight:
          type: number
          format: double
          description: Maximum weight lifted for this exercise in the period.
          example: 100.5
      required:
        - exerciseId
        - exerciseName
        - totalVolume
        - totalSets
        - totalReps
        - maxWeight

  securitySchemes:
    BearerAuth: # Matches the security requirement name in paths
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        JWT Authorization header using the Bearer scheme.
        Enter 'Bearer' [space] and then your token in the text input below.
        Example: "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

  responses:
    BadRequest:
      description: Bad Request (e.g., validation error, malformed request body).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Bad Request"
              details:
                type: string
                example: "Validation failed: Field 'name' is required."
    Unauthorized:
      description: Unauthorized (e.g., missing, invalid, or expired authentication token).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Unauthorized"
              details:
                type: string
                example: "Invalid or expired token."
    Forbidden:
      description: Forbidden (e.g., user does not have permission to access the resource).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Forbidden"
              details:
                type: string
                example: "You do not have permission to perform this action."
    NotFound:
      description: Not Found (e.g., the requested resource does not exist).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Not Found"
              details:
                type: string
                example: "The requested resource was not found."
    InternalServerError:
      description: Internal Server Error (e.g., an unexpected error occurred on the server).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Internal Server Error"
              details:
                type: string
                example: "An unexpected error occurred."
    Conflict:
      description: Conflict (e.g., exercise already linked or position conflict).
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: string
                example: "Conflict"
              details:
                type: string
                example: "The requested operation cannot be completed due to a conflict."

security:
  - BearerAuth: [] # Default security for endpoints not explicitly marked otherwise
tags:
  - name: Auth
    description: Authentication related operations
  - name: Workouts
    description: Operations related to workouts
  - name: Utility
    description: Utility related operations
  - name: Menus
    description: Operations related to menus
  - name: Dashboard
    description: Operations related to the dashboard
