openapi: 3.0.0
info:
  title: BulkTrack API
  version: 1.0.0
  description: API definition for the BulkTrack application.
servers:
  - url: https://api.bulktrack.app/v1
    description: Production server
  - url: http://localhost:8787/v1
    description: Local development server
paths:
  # --- Authentication Endpoints --- #
  /auth/device:
    post:
      summary: Activate a new device
      operationId: activateDevice
      tags:
        - Auth
      description: >
        Registers a new device using its unique ID provided in the header
        and returns initial access and refresh tokens.
        This endpoint does not require authentication.
      parameters:
        - name: X-Device-Id
          in: header
          required: true
          description: Unique identifier for the client device (UUID format recommended).
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Device activated successfully, tokens issued.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad Request (e.g., missing X-Device-Id header).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  /auth/refresh:
    post:
      summary: Refresh access token
      operationId: refreshToken
      tags:
        - Auth
      description: >
        Exchanges a valid refresh token for a new pair of access and refresh tokens.
        This endpoint does not require bearer authentication but relies on the validity of the refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '200':
          description: Tokens refreshed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '400':
          description: Bad Request (e.g., missing refresh_token in body).
        '401':
          description: Unauthorized (e.g., invalid or expired refresh token).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  /auth/logout:
    post:
      summary: Log out
      operationId: logout
      tags:
        - Auth
      description: >
        Invalidates the provided refresh token, effectively logging the user out.
        This endpoint does not require bearer authentication but relies on the validity of the refresh token.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshTokenRequest'
      responses:
        '204':
          description: Successfully logged out.
        '400':
          description: Bad Request (e.g., missing or malformed refresh_token in body).
        '401':
          description: Unauthorized (e.g., invalid, expired, or already revoked refresh token).
        '500':
          description: Internal Server Error.
      security: [] # No authentication required for this endpoint

  # --- Existing Workout Endpoints --- #
  /workouts/{id}:
    get:
      summary: Get workout details by ID
      operationId: getWorkoutById
      tags:
        - Workouts
      parameters:
        - name: id
          in: path
          required: true
          description: ID of the workout to retrieve
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Successful retrieval of workout details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkoutDetail'
        '404':
          description: Workout not found
        '401':
          description: Unauthorized
components:
  schemas:
    # --- Auth Schemas --- #
    TokenResponse:
      type: object
      description: Response containing access and refresh tokens.
      properties:
        access_token:
          type: string
          description: The JWT access token.
        refresh_token:
          type: string
          description: The JWT refresh token.
        expires_in:
          type: integer
          format: int64
          description: The validity duration of the access token in seconds.
      required:
        - access_token
        - refresh_token
        - expires_in

    RefreshTokenRequest:
      type: object
      description: Request body for refreshing tokens.
      properties:
        refresh_token:
          type: string
          description: The JWT refresh token to be exchanged.
      required:
        - refresh_token

    # --- Existing Workout Schemas --- #
    WorkoutDetail:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Workout ID
        name:
          type: string
          description: Workout name
        description:
          type: string
          nullable: true
          description: Optional workout description
        exercises:
          type: array
          description: List of exercises in the workout
          items:
            $ref: '#/components/schemas/Exercise'
      required:
        - id
        - name
        - exercises
    Exercise:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: Exercise ID
        name:
          type: string
          description: Exercise name
        sets:
          type: integer
          description: Number of sets performed
        reps:
          type: integer
          description: Number of repetitions per set
        rpe:
          type: number
          format: float
          nullable: true
          description: Rate of Perceived Exertion (e.g., 1-10)
        rir:
          type: integer
          nullable: true
          description: Reps In Reserve (e.g., 0-5)
        interval:
          type: integer
          nullable: true
          description: Rest interval in seconds between sets
      required:
        - id
        - name
        - sets
        - reps
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
security:
  - bearerAuth: [] # Default security for endpoints not explicitly marked otherwise
tags:
  - name: Auth
    description: Authentication related operations
  - name: Workouts
    description: Operations related to workouts
